html, body {
    background-image: url(http://jankassa.omniboost.io/files/omniboost_jankassa.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
nav {
    font-size: 30px;
    text-align: left;
    background-color: #668284;
    color: aliceblue;
    margin-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 2;
}
nav a{
    color: aliceblue;
}
#heading {
    z-index: 1;
    background-color: whitesmoke;
    background-size: cover;
    text-align: center;
    padding: 10px 0;
    color: rgb(224, 170, 20);
    opacity: 0.5;
    font-size: 40px;
}
#footer {
	position: relative;
	height: 50px;
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
    border: 1px solid rgb(0, 0, 0);
    color: aliceblue;
}
#profielfoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
#profile-list {
    font-size: 30px;
    text-align: center;
}
.Studiemonitor {      
    background-color: #ffffff;
    border-color: black;
    border-bottom-style: solid;
    border-width: 1px;
    margin-top: 20px;
    float: left;
    width: 70%;
    margin-bottom: 10px;
}
.semester {
    font-size: 30px;
    background-color: #668284;
}
.te-behalen {
    text-align: right;
    background-color: #ffffff;
}
.voldoende{
    text-align: right;
    background-color: greenyellow;
}
.onvoldoende {
    text-align: right;
    background-color: red;
}
#Studiewijzer {
    background-color: #668284;
    font-size: 20px;
    color: aliceblue;
    width: 300px;
    float: right;
    width: 25%;
    margin-top: 20px;
}
#Studiewijzer a{
    color: aliceblue;
    font-style: normal;
}
#Contact {
    background-color: #668284;
    float: right;
    width: 25%;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: 20px;
    color: aliceblue;
    border: 1px solid rgb(0, 0, 0);
    margin-bottom: 10px;  
    overflow: auto;
    font-size: 20px;
}
#Reden {
    margin-top: 20px;
    background-color: #668284;
    float: left;
    width: 70%;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    color: aliceblue;
    overflow: auto;
    margin-bottom: 10px;  
    font-size: 20px;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50%;

}
#theorie {
    background-color: #668284;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50%;
    border: 1px solid rgb(0, 0, 0);
    color: aliceblue;
    overflow: auto;
    margin-top: 20px;
}
#theorie h1 {
    text-align: center;
    font-size: 40px;
}
#theorie h2{
    display: block;
    margin-left: 2.5%;
    margin-right: auto;
    font-size: 20px;
}
#theorie img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 15%;
}
#theorie p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 20px;
    margin-top: -12px;
}
#prestatiemotivatie {
    background-color: #668284;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50%;
    border: 1px solid rgb(0, 0, 0);
    color: aliceblue;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#prestatiemotivatie h1 {
    text-align: center;
    font-size: 40px;
}
#prestatiemotivatie h2{
    display: block;
    margin-left: 2.5%;
    margin-right: auto;
    font-size: 20px;
}
#prestatiemotivatie p {
    margin-top: -12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 20px;
}
#belangrijkeCarrièreankers {
    background-color: #668284;
    display: block;
    float: left;
    width: 49%;
    height: 50%;
    border: 1px solid rgb(0, 0, 0);
    color: aliceblue;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
#belangrijkeCarrièreankers h1 {
    text-align: center;
    font-size: 40px;
 }
 #belangrijkeCarrièreankers h2{
    display: block;
    margin-left: 2.5%;
    margin-right: auto;
    font-size: 20px;
}
#belangrijkeCarrièreankers p {
    margin-top: -12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 20px;
}
#onbelangrijkeCarrièreankers {
    background-color: #668284;
    display: block;
    float: right;
    width: 49%;
    height: 50%;
    border: 1px solid rgb(0, 0, 0);
    color: aliceblue;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 300px;
}
#onbelangrijkeCarrièreankers h1 {
    text-align: center;
    font-size: 40px;
 }
#onbelangrijkeCarrièreankers h2{
    display: block;
    margin-left: 2.5%;
    margin-right: auto;
    font-size: 20px;
}
#onbelangrijkeCarrièreankers p {
    margin-top: -12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 20px;
}
#conclusie {
    background-color: #668284;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50%;
    border: 1px solid rgb(0, 0, 0);
    color: aliceblue;
    overflow: auto;
    margin-top: 20px;
}
#conclusie h1 {
    text-align: center;
    font-size: 40px;
}
#conclusie h2{
    display: block;
    margin-left: 2.5%;
    margin-right: auto;
    font-size: 20px;
}
#conclusie p {
    margin-top: -12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 20px;
}
#conclusie ul {
    margin-top: -12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 20px;
}
#bronnenlijst {
    background-color: #668284;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 50%;
    border: 1px solid rgb(0, 0, 0);
    color: aliceblue;
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#bronnenlijst h1{
    text-align: center;
    font-size: 40px;
}
#bronnenlijst ol{
    text-align: left;
    margin-left: 20px;
    color: aliceblue;
    padding-left: 20px;
    font-style: normal;
    font-size: 20px;
}